# Timeseries Analysis : Forecasting temperature from monthly temperature in India

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] =10,6
dataset =pd.read_csv("temperature.csv")

print(dataset.head(10))

   year  temperature
0  1901        24.23
1  1902        24.33
2  1903        23.80
3  1904        23.86
4  1905        23.71
5  1906        24.12
6  1907        23.87
7  1908        23.95
8  1909        23.78
9  1910        23.77

In [53]:
dataset

      year  temperature
0     1901      24.2300
1     1902      24.3300
2     1903      23.8000
3     1904      23.8600
4     1905      23.7100
5     1906      24.1200
6     1907      23.8700
7     1908      23.9500
8     1909      23.7800
9     1910      23.7700
10    1911      23.9600
11    1912      24.1100
12    1913      23.8800
13    1914      24.0300
14    1915      24.2900
15    1916      24.0800
16    1917      23.5600
17    1918      23.8300
18    1919      24.0100
19    1920      23.9100
20    1921      24.3300
21    1922      24.0500
22    1923      24.0500
23    1924      24.1500
24    1925      23.9500
25    1926      24.0400
26    1927      23.9400
27    1928      24.2900
28    1929      24.0800
29    1930      23.9300
..     ...          ...
87    1988      24.4200
88    1989      24.0300
89    1990      24.2100
90    1991      24.2800
91    1992      24.1500
92    1993      24.4300
93    1994      24.4600
94    1995      25.2900
95    1996      24.5500
96    1997      24.1000
97    1998      24.7600
98    1999      24.6700
99    2000      24.6000
100   2001      24.7300
101   2002      25.0000
102   2003      24.7200
103   2004      24.7400
104   2005      24.5800
105   2006      25.0600
106   2007      24.7700
107   2008      24.6100
108   2009      25.1100
109   2010      25.1300
110   2011      24.6700
111   2012      24.6900
112   2013      24.8200
113   2014      24.7300
114   2015      24.9100
115  CONST      23.8254
116  TREND       0.0072

[117 rows x 2 columns]

In [54]:
#remove bad values
dataset=dataset.drop(dataset.index[115])

dataset=dataset.drop(dataset.index[115])

In [55]:
dataset

     year  temperature
0    1901        24.23
1    1902        24.33
2    1903        23.80
3    1904        23.86
4    1905        23.71
5    1906        24.12
6    1907        23.87
7    1908        23.95
8    1909        23.78
9    1910        23.77
10   1911        23.96
11   1912        24.11
12   1913        23.88
13   1914        24.03
14   1915        24.29
15   1916        24.08
16   1917        23.56
17   1918        23.83
18   1919        24.01
19   1920        23.91
20   1921        24.33
21   1922        24.05
22   1923        24.05
23   1924        24.15
24   1925        23.95
25   1926        24.04
26   1927        23.94
27   1928        24.29
28   1929        24.08
29   1930        23.93
..    ...          ...
85   1986        24.20
86   1987        24.57
87   1988        24.42
88   1989        24.03
89   1990        24.21
90   1991        24.28
91   1992        24.15
92   1993        24.43
93   1994        24.46
94   1995        25.29
95   1996        24.55
96   1997        24.10
97   1998        24.76
98   1999        24.67
99   2000        24.60
100  2001        24.73
101  2002        25.00
102  2003        24.72
103  2004        24.74
104  2005        24.58
105  2006        25.06
106  2007        24.77
107  2008        24.61
108  2009        25.11
109  2010        25.13
110  2011        24.67
111  2012        24.69
112  2013        24.82
113  2014        24.73
114  2015        24.91

[115 rows x 2 columns]

In [6]:
dataset.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            106, 107, 108, 109, 110, 111, 112, 113, 114, 116],
           dtype='int64', length=116)

In [58]:
dataset.dtypes

year           datetime64[ns]
temperature           float64
dtype: object

In [57]:
dataset['year'] = pd.to_datetime(dataset['year'], infer_datetime_format=True)

In [62]:
#the index has to be the variable depicting date-time information.
dataset.index =dataset['year']

In [63]:
dataset.index

DatetimeIndex(['1901-01-01', '1902-01-01', '1903-01-01', '1904-01-01',
               '1905-01-01', '1906-01-01', '1907-01-01', '1908-01-01',
               '1909-01-01', '1910-01-01',
               ...
               '2006-01-01', '2007-01-01', '2008-01-01', '2009-01-01',
               '2010-01-01', '2011-01-01', '2012-01-01', '2013-01-01',
               '2014-01-01', '2015-01-01'],
              dtype='datetime64[ns]', name='year', length=115, freq=None)